<p id="notice"><%= notice %></p>

<h1>Votes</h1>

<table>
  
  <tbody>
    <% @votes.each do |vote| %>
      <tr>   
         
        <%if current_user.id==vote.user_id%>
        <td><%= link_to 'Show', vote %></td>
        <%end%>
         <%end%>
        
      </tr>
   
  </tbody>
</table>

<br>
<%if !Vote.where(:user_id =>current_user.id).present?%>

<%= link_to 'New Vote', new_vote_path %>
<%end%>
