<table>
<tr>
<th>Naredra Modi</th>
 	<th>Sonia Gandi</th>
    <th>Arvind Kejriwal</th>
    </tr>
  <td><%= Vote.where(:candicate_id=>1).count %><td> 
	<td><%= Vote.where(:candicate_id=>2).count %> </td>	
	</td><%= Vote.where(:candicate_id=>3).count %></td>

</table>